.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20px;
}

.tabs{
background-color:rgb(231, 224, 224);
margin-top: 20px;
display: flex;
flex-direction: column;
min-height: 200px;
}
.tabs__block{
  margin-top: 20px;
}



